#app {
}

#repo{
	margin: 7px;
}

#description{
	text-align: center;
}

#instructions {
	margin-top: 5px;
	color: white;
}

#form {
	text-align: center;
	background: #62d6a0;
	padding: 10px;
}

#page_value {
	width: 20px;
	font-size: 20px;
	text-align: center;
	margin-right: 10px;
}

#get_articles {
	font-size: 20px;
	margin-left: 10px;
	background: #3d87e2;
	color: white;
	border: none;
	padding: 3px 10px;
}

button:hover {
	cursor: pointer;
}

#loader{
	width: 200px;
	margin: auto;
}

ul {
	list-style-type: none;
}

#list {
	margin: auto;
	max-width: 800px;
}
